.AddToCartWidgetButton {
    background-color: #b24750;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: white;
    border: none;
    padding: 8px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    transition: .5s ease;
}

.AddToCartWidgetButton:hover {
    background-color: #e2414f;
    cursor: pointer;
}

.ModifyQuantityContainer {
    max-width: 194px;
    max-height: 25px;
    background-color: #b24750;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: white;
    border: none;
    padding: 8px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    transition: .5s ease;
}

.ModifyQuantityButton {
    margin: 3px 0px 1px 0px;
    background-color: #b24750;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: none;
    transition: .3s ease;
}

.ModifyQuantityButton:hover {
    background-color: #e2414f;
    cursor: pointer;
}

.AddToCartWithoutStock {
    background-color: lightgray;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    padding: 8px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-around;
}