.AddToCartWidgetButton {
    background-color: #b24750;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: white;
    border: none;
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    transition: .5s ease;
}

.AddToCartWidgetButton:hover {
    background-color: #e2414f;
    cursor: pointer;
  }