.NavBar {
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBarList {
    display: flex;
    list-style: none;
    gap: 6vh;
}

.NavBarListItem {
    color: black;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.NavBarListItem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: indianred;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.NavBarListItem:visited {
    text-decoration: none;
}


.NavBarListItem:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}